​body {
  font-family: 'Merriweather', serif;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

header {
  /*-webkit-user-select: none;*/ /* Safari 3.1+ */
  /*-moz-user-select: none;*/ /* Firefox 2+ */
  /*-ms-user-select: none;*/ /* IE 10+ */
  /*user-select: none;*/ /* Standard syntax */
}

header>section>.logo {
  color: #fff;
  border-radius: 100%;
  border: 1px solid #fff;
  width: 75px;
  height: 75px;
  /*position: absolute;*/
}

header>section>.logo h2 {
  position: relative;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  font-weight: bold;
}

header .cover-two {
  background-size: cover;
  background: #222 url(../img/background/22bg.jpg) no-repeat center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  padding-top: 21%;
  padding-bottom: 21%;
  position: relative;
  overflow-x: hidden;
}

header .clouds {
    position: absolute;
    top: 0;
    left: 0;
    width: 250.625em;
    height: 100%;
    overflow-x: hidden;
    /*height: 100vh;*/
    background: url(../img/clouds.png) 0px 100% repeat-x;
    -webkit-animation: cloudsLoop 80s linear infinite;
    animation: cloudsLoop 80s linear infinite;
}

/*keyframes for clouds*/
@-webkit-keyframes cloudsLoop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
  }
}
@keyframes cloudsLoop {
  0% {
     -webkit-transform: translate3d(0, 0, 0);
     transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
}

a, .btn {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn {
  border: 0;
  border-bottom: 2px solid rgba(10, 10, 10, 0.10);
  border-radius: 2px;
}

section h3 {
  color: #fff;
  font-size: 30px;
}

.section-title {
  font-size: 50px;
  font-weight: bold;
  line-height: 50px;
  position: relative;
  text-align: center;
}

.about {
  background: #222;
  color: #fbdb65;
}

.about .btn-default {
  color: #fff;
  background-color: rgba(102, 102, 102, 0.32);
}

.about .me {
  outline: 3px solid rgba(34, 34, 34, .7);
  outline-offset: -15px;
}

.social {
  position: absolute;
  top: 50%;
  left: 100%;
}


.intro {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 0;
    padding: 0 15px;
    z-index: 10;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}



.portfolio-image a img {
    width: 100%;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

.portfolio-image a:hover img {
    opacity: .5
}

/*.icon {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: 1px solid #fff;
    background: #00f;*/
    /*opacity: 0.5;
    margin-right: 5px;
}*/

.fab,
.far {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    /*width: 40%;*/
}

.icon:hover {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    /*width: 40%;*/
    -ms-transform: scale(1.1);
    --o-transform: scale(1.1);
    transform: scale(1.1);
    --webkit-transform: scale(1.1);
}


.skillset-section {
  background-color: #1a1e23;
  color: #fff;
}



/*.progress-title{
    font-size: 18px;
    font-weight: 700;
    color: #333;
    margin: 0 0 20px;
}
.progress{
    height: 20px;
    background: #d4d7e6;
    border-radius: 30px;
    box-shadow: none;
    margin-bottom: 30px;
    overflow: visible;
}
.progress .progress-bar{
    border-radius: 30px;
    box-shadow: none;
    display: inline;
    position: relative;
    animation: animate-positive 2s;
}
.progress .progress-bar:before{
    content: "";
    width: 100%;
    height: 50%;
    background: rgba(0,0,0,0.3);
    border-radius: 0 0 10px 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}
.progress .progress-bar:after{
    content: "";
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: #cbcbcb;
    border: 8px solid #000;
    position: absolute;
    bottom: -8px;
    right: 0;
    z-index: 1;
}
@keyframes animate-positive{
    0%{ width: 0; }
}*/


.progress-bar {
  width: 0;
  display: inline;
  animation: progress 1.5s ease-in-out forwards;
}

.hideBar {
  animation: progress 1.5s ease-in-out forwards;
}

@keyframes progress {
/*  from {
    width: 100;
  }*/
  to {
    width: 0;
  }
}

.showBar {
 /* width: 0;
  display: inline;
  transition: unset;*/
  animation: progress 1.5s ease-in-out forwards;

  .number {
    opacity: 0;
    animation: progress 0.35s forwards ease-in-out 0.5s;
  }
}
@keyframes progress {
  from {
    width: 0;
  }
}


/*.progress-bar {
  width: 0;
  display: inline;
  transition: unset;
  animation: progress 1.5s ease-in-out forwards;

  .number {
    opacity: 0;
    animation: show 0.35s forwards ease-in-out 0.5s;
  }
}

@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: {{ frontEnd.num }};
  }
}
@keyframes show  {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
*/


/*
.flex-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.single-chart {
  width: 33%;
  justify-content: space-around ;
}

.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #ff9f00;
}

.circular-chart.green .circle {
  stroke: #4CC790;
}

.circular-chart.blue .circle {
  stroke: #3c9ee5;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}
*/





/*styling*/
/*$borderWidth: 7px;
$animationTime: 1.5s;
$border-color-default: #eee;
$border-color-fill: #ffb43e;
$size: 150px;

//Create how many steps
$howManySteps: 10; //this needs to be even.
//for fun try using 20 and changine in the HTML the data-percentage to 15 or 85

.progress {
  width: $size;
  height: $size;
  line-height: $size;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;
  &:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: $borderWidth solid $border-color-default;
    position: absolute;
    top: 0;
    left: 0;
  }
  > span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  .progress-left {
    left: 0;
  }
  .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: $borderWidth;
    border-style: solid;
    position: absolute;
    top: 0;
    border-color: $border-color-fill;
  }
  .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: ($size/2);;
    border-bottom-right-radius: ($size/2);;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
    //animation: loading-2 1.5s linear forwards 1.8s;
  }
  .progress-right {
    right: 0;
    .progress-bar {
      left: -100%;
      border-top-left-radius: ($size/2);;
      border-bottom-left-radius: ($size/2);;
      border-right: 0;
      -webkit-transform-origin: center right;
      transform-origin: center right;
      //animation: loading-1 1.8s linear forwards;
    }
  }
  .progress-value {
    display: flex;
    border-radius: 50%;
    font-size: 36px;
    text-align: center;
    line-height: 20px;
    align-items: center;
    justify-content: center;
    height: 100%;
    //font-family: $work-sans;
    font-weight: 300;
    div {
      margin-top: 10px;
    }
    span {
      font-size: 12px;
      text-transform: uppercase;
    }
  }
}*/

/* This for loop creates the  necessary css animation names
Due to the split circle of progress-left and progress right, we must use the animations on each side.
*/
/*@for $i from 1 through $howManySteps {
  $stepName: ($i*(100 / $howManySteps));*/

  /*animation only the left side if below 50%*/
  /*@if $i <= ($howManySteps/2) {
    .progress[data-percentage="#{$stepName}"] {
      .progress-right .progress-bar {
         animation: loading-#{$i} $animationTime linear forwards;
      }
      .progress-left .progress-bar {animation: 0;}
    }
  }*/
  /*animation only the right side if above 50%*/
 /* @if $i > ($howManySteps/2)  {
    .progress[data-percentage="#{$stepName}"] {
      .progress-right .progress-bar {
        animation: loading-#{($howManySteps/2)} $animationTime linear forwards; //set the animation to longest animation
      }
      .progress-left .progress-bar {
      animation: loading-#{$i - ($howManySteps/2)} $animationTime linear forwards $animationTime;
    }
    }
  }
}
*/
/*animation*/
/*@for $i from 1 through ($howManySteps/2) {
  $degrees: (180/($howManySteps/2));
  $degrees: ($degrees*$i);
  @keyframes loading-#{$i}{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate($degrees);
      transform: rotate(#{$degrees}deg);
    }
  }
}
//additional styling
.progress {
    margin-bottom: 1em;
  }
*/







footer {
  background: #000;
}


.skill .btn {
  display: flex;
  align-items: center;
  /*padding: 15px;*/
  /*margin: 10px;*/
  font-size: 18px;
  font-family: 'Lato', arial, sans-serif;
  font-weight: 400;
  background: #fff;
  color: #252525;
  border-radius: 40px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -webkit-transition: all .4s ease-in;
  -moz-transition: all .4s ease-in;
  -ms-transition: all .4s ease-in;
  -o-transition: all .4s ease-in;
  transition: all .4s ease-in;
}

.skill .btn:hover {
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.6);
    transform: translateY(-3px);
}






/* The Loader */

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: hidden;
 /* // Modernizr no-js fallback
  .no-js & {
    display: none;
  }*/
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #222;
  z-index: 10;
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

/* Loaded styles */

.loaded #loader-wrapper .loader-section.section-left {
  transform: translateX(-100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
  transform: translateX(100%);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

/*.loaded #loader {
  opacity: 0;
  transition: all 0.3s ease-out;
}*/

/*.loaded #loader-wrapper {
  visibility: hidden;
  transform: translateY(-100%);
  transition: all 0.3s 1s ease-out;
}*/




/*body{
    background-color:black;
    animation: image 10s infinite alternate;
    animation:image 10s infinite alternate;
    animation:image 10s infinite alternate;
}

@keyframes image{
    0%{
background-color:blue;
}
25%/{
    background-color:red;
}
50%{
    background-color:green;
}
75%{

    background-color:pink;
}
100%{
    background-color:yellow;
    }
  }*/

.progress {
	color: #000;
}

header {
	background: #1B2C3C;
	color: #FEDD41;
}

/*header span {
	color: #FF0000;
}*/

content {
	color: #000;
}

content .lesson {
	border-bottom: 1px solid #808080;
}

content .lesson span {
	color: #DF8618;
	font-weight: bold;
}

content .lesson video {
	border: 1px solid #000;
	border-radius: 20px;
}

@media only screen and (max-width: 991px) {
	content #desc {
		position: absolute;
	    top: 10px;
		left: 240px;
	}
}

@media only screen and (max-width: 368px) {
	content .title img {
		position: relative;
    	left: 85px;
	}
	content #desc {
		position: relative;
	    top: 0;
		left: 100px;
	}
}

.testx {
  position: relative;
}

.test1 {
  position: relative;
  z-index: 111;
}

.test {
  margin-top: 10px;
    /*width: 351px;
    height: 196px;*/
    position: absolute;
    top: 0;
}





.circle {
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}
.circle:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 12px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.circle > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.circle .progress-left{
    left: 0;
}
.circle .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 12px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.circle .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.circle .progress-right{
    right: 0;
}
.circle .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}
.circle .progress-value{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: #44484b;
    font-size: 24px;
    color: #fff;
    line-height: 135px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}
.circle.blue .progress-bar{
    border-color: #049dff;
}
.circle.blue .progress-left .progress-bar{
    animation: loading-2 1.5s linear forwards 1.8s;
}
.circle.yellow .progress-bar{
    border-color: #fdba04;
}
.circle.yellow .progress-left .progress-bar{
    animation: loading-3 1s linear forwards 1.8s;
}
.circle.pink .progress-bar{
    border-color: #ed687c;
}
.circle.pink .progress-left .progress-bar{
    animation: loading-4 0.4s linear forwards 1.8s;
}
.circle.green .progress-bar{
    border-color: #1abc9c;
}
.circle.green .progress-left .progress-bar{
    animation: loading-5 1.2s linear forwards 1.8s;
}
@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}
@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}
@media only screen and (max-width: 990px){
    .progress{ margin-bottom: 20px; }
}